<html lang="en">
  <%-include('./partials/header.ejs') %>

  <body>
    <%-include('./partials/nav.ejs') %>
    <h1>Hey you seem to be lost this is the 404 bot</h1>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
