<html lang="en">
  <%-include('./partials/header.ejs') %>

  <body>
    <%-include('./partials/nav.ejs') %>
    <h1>Hey this page says something about me</h1>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
